.header{
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   padding: 0 15px;
   background-color: #ECE0E0ED;
   .header-lf{
      display: flex;
      align-items: center;
      gap: 20px;
   }
}