.sidebar-card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
// .content {
//   /* 插槽内容自己控制样式 */
// }