.container{
   flex-wrap: wrap;
   margin-top: 50px;
   .carousel{
      // height: 450px;
      width: 90%;
      border-radius: 15px;
      overflow: hidden;
   }
   .card-slider{
      display: flex;
      flex-wrap: wrap;
      
   }
}
