.container {
   width: 100%;
   padding: 0 180px;
   box-sizing: border-box; 
   flex-wrap: wrap;
   margin-top: 50px;
   padding: 0 80px;

   .carousel {
      width: 100%;
      border-radius: 15px;
      overflow: hidden;
   }

   .card-slider {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 20px;
   }

   .content-with-sidebar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;

      .main-content {
         flex: 1;
         min-width: 0;
      }

      .sidebar {
         flex-shrink: 0;
      }
   }

   .banner-container {
      display: flex;
      width: 100%;
      gap: 1rem;
      margin-top: 50px;

      .banner-item {
         flex: 1;
         min-width: 0;
         border-radius: 12px;
         overflow: hidden;

         a {
            display: block;
            width: 100%;
            height: 100%;
         }

         .el-image {
            width: 100% !important;
            height: 320px !important;
            display: block;
         }
      }
   }

.featured-section {
      display: flex;
      width: 100%;
      gap: 20px;
      align-items: stretch; 

      .left-container {
         flex: 1;
         min-width: 0; 
         overflow: hidden; // 强行锁死左侧，绝对不允许它把右边的 .right-container 挤走
      }
      .right-container {
         padding: 30px 0;
         width: 560px;
         flex-shrink: 0;
         display: flex;
         flex-direction: column;
         justify-content: space-between; 
      }
   }
}